@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

:root{
    --primary-color: hsla(317, 47%, 30%, 0.904);
    --secondary-color:grey;
}
body
{
    margin: 0%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    color: rgb(51, 49, 49);
}
p
{
font-size: 1.2em;
}
small
{
    font-size: 1em;
}
.non-bullet
{
list-style: none;
margin: auto;
font-size: 1em;
}
.list-item-inline
{
display: inline;
padding: 0rem 0.5rem;
font-size: 1em;
}
.navigation
{
background-color:var(--primary-color);
padding: 1rem;
border-bottom-left-radius: 1rem ;
border-bottom-right-radius: 1rem ;

}
.navigation .link
{
color:seashell;
font-size: 1rem;
text-decoration: none;

}
.brand
{
    color:rgb(255, 245, 238);
    font-weight: bold;
    font-size: 2rem;
}
.navigation-pills
{
    text-align: right;
    font-size: 1em;
}

.hero-image
{
max-width: 400px;
margin: auto;
display: block;
width: 100%;
padding-top:1rem;
} 
.hero-heading
{
  
color:var(--secondary-color);


text-align: center;

}
.hero.second-heading
{
  
    color: rgb(65, 62, 62);
margin: auto;
text-align: center;
background-color: off white;
border-radius: 1rem;
}
.section
{
    text-align: center;
    padding: 2rem;
    margin-top: 2rem;
    font-size: 1.5em;
 color:  rgb(80, 79, 79);
    background-color:  rgb(243, 229, 233);
}
.section2
{
    margin-top: 2rem;
    background-color:white; 
    text-align: center;
    font-size: 1.5em;
    padding: 2rem;
    color:  rgb(80, 79, 79);
}

.footer
{
   
background-color:var(--primary-color);
padding: 1rem;
border-top-right-radius: 1rem ;
color:white;
text-align: center;
font-size: 1em;

}
.project
{
    color: rgb(80, 79, 79);
    padding: 1.5rem 1rem;
font-size: 1.3em;
    background-color:rgb(255, 236, 246);
    
    display: block;

}
.link1
{
color:seashell;
font-size: 1rem;
text-decoration: none;
background-color:rgb(112, 40, 85) ;
margin-right: 1%;
padding: 0.6rem 1rem;
border-radius: 0.5rem;

}
li
{
display: inline;
}

.primarylink
{
    border-radius: 2rem;
}
.footer-pills
{
    color: wheat;
}
.footer-link
{
list-style: none;
color:white;
}